[run]
source = scrapingcourse_scraper

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass

omit =
    scrapingcourse_scraper/settings.py  
    */tests/*
    */__init__.py
    